body{
  text-align: center;
}

p{
  margin: 0;
  padding: 0;
}

.content{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

a {
  color: rgb(230, 55, 55);
}

a:hover {
  color: rgb(85, 147, 246);
}

.one_video{
  margin: 2rem;
}

video {
  margin: 2rem;
  background-color: aliceblue;
}

.input-group{
  padding: 2rem;
  padding-bottom: 0;
}